/*variables*/
/* animations */
@-webkit-keyframes apparition_menus {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes apparition_menus {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes apparition_slider {
  0% {
    transform: translateX(25%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes apparition_slider {
  0% {
    transform: translateX(25%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes rotate_slider {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate_slider {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto", "sans-serif";
  background-color: rgb(241, 239, 239);
  width: 100%;
  margin: 0%;
}

header {
  display: flex;
  background-color: white;
  width: 100%;
  text-align: center;
}
header h1 {
  width: 70%;
  font-family: "shrikhand", "sans-serif";
  margin-bottom: 1%;
}
header a {
  width: 15%;
}
header i {
  padding-top: 60%;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__name {
  display: flex;
  width: 100%;
  padding-top: 2%;
}
.menu__name h1 {
  width: 85%;
  font-size: 26px;
  font-family: "shrikhand", "sans-serif";
  margin-left: 5%;
}
.menu__name i {
  width: 10%;
  padding-left: 10%;
  padding-top: 35.5%;
  font-size: 25px;
  margin-right: 4%;
}
.menu__name .heart {
  font-size: 24px;
  cursor: pointer;
  width: 15%;
  padding-bottom: 10%;
}
.menu__name .heart i {
  position: absolute;
  top: 26%;
  right: 3%;
}
.menu__name .heart #coeur_plein {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 1.5s ease-in-out;
}
.menu__name .heart:active #coeur_plein {
  opacity: 1;
}
.menu__name .heart:active #coeur_vide {
  opacity: 0;
}

.entrees__names a {
  -webkit-animation: apparition_menus 1s;
          animation: apparition_menus 1s;
}

.plats__names a {
  -webkit-animation: apparition_menus 2s;
          animation: apparition_menus 2s;
}

.desserts__names a {
  -webkit-animation: apparition_menus 3s;
          animation: apparition_menus 3s;
}

.entree__description {
  width: 100%;
}

.entrees__names h2, .entrees__names h3, .entrees__names span, .plats__names h2, .plats__names h3, .plats__names span, .desserts__names h2, .desserts__names h3, .desserts__names span {
  margin-left: 5%;
  color: black;
}
.entrees__names h2, .plats__names h2, .desserts__names h2 {
  position: relative;
  font-size: 18px;
  margin-top: 10%;
  margin-bottom: 5%;
}
.entrees__names h2::after, .plats__names h2::after, .desserts__names h2::after {
  display: block;
  position: absolute;
  top: 15px;
  content: "---------";
  color: #99E2D0;
}
.entrees__names h3, .plats__names h3, .desserts__names h3 {
  width: 100%;
  margin-bottom: 1%;
  margin-top: 5%;
  margin-left: 3%;
  font-size: 18px;
  font-weight: bold;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.entrees__names .accompagnement, .plats__names .accompagnement, .desserts__names .accompagnement {
  width: 100%;
  font-size: 15px;
  margin-left: 3%;
  overflow: hidden;
}
.entrees__names p, .plats__names p, .desserts__names p {
  width: 15%;
  font-size: 15px;
  font-weight: bold;
  margin-top: 12%;
  margin-right: 0%;
}
.entrees__names a, .plats__names a, .desserts__names a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: flex;
  width: 93%;
  background-color: white;
  height: 70px;
  margin-left: 4%;
  margin-bottom: 3%;
  border-radius: 15px;
  box-shadow: 7px 7px 18px -11px #787878;
  cursor: pointer;
  overflow: hidden;
}
.entrees__names a:hover, .plats__names a:hover, .desserts__names a:hover {
  box-shadow: 8px 8px 20px -11px #000000;
  opacity: 85%;
  text-overflow: ellipsis;
}
.entrees__names a .slider, .plats__names a .slider, .desserts__names a .slider {
  background-color: #99E2D0;
  height: 70px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  width: 25%;
  margin-right: -25%;
}
.entrees__names a .slider .fas, .plats__names a .slider .fas, .desserts__names a .slider .fas {
  background-color: #99E2D0;
  color: white;
  font-size: 25px;
  margin-top: 35%;
  margin-left: 30%;
}
.entrees__names .entree:hover .slider, .plats__names .entree:hover .slider, .desserts__names .entree:hover .slider {
  margin-right: 0%;
}
.entrees__names .entree:hover .fas, .plats__names .entree:hover .fas, .desserts__names .entree:hover .fas {
  -webkit-animation: rotate_slider 1s ease-in-out;
          animation: rotate_slider 1s ease-in-out;
}
.entrees__names .plat:hover .slider, .plats__names .plat:hover .slider, .desserts__names .plat:hover .slider {
  margin-right: 0%;
}
.entrees__names .plat:hover .fas, .plats__names .plat:hover .fas, .desserts__names .plat:hover .fas {
  -webkit-animation: rotate_slider 1s ease-in-out;
          animation: rotate_slider 1s ease-in-out;
}
.entrees__names .dessert:hover .slider, .plats__names .dessert:hover .slider, .desserts__names .dessert:hover .slider {
  margin-right: 0%;
}
.entrees__names .dessert:hover .fas, .plats__names .dessert:hover .fas, .desserts__names .dessert:hover .fas {
  -webkit-animation: rotate_slider 1s ease-in-out;
          animation: rotate_slider 1s ease-in-out;
}

.entree__description, .plat__description, .dessert__description {
  width: 85%;
  padding-right: 3%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.commander .order {
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left: 25%;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-style: hidden;
  width: 50%;
  height: 50px;
  font-weight: lighter;
  font-size: 16px;
  border-radius: 30px;
  box-shadow: 7px 7px 18px -11px #787777;
  text-align: center;
  cursor: pointer;
}
.commander:hover {
  box-shadow: 8px 8px 20px -11px #000000;
  opacity: 70%;
}

footer {
  background-color: rgb(57, 57, 57);
  height: 200px;
}
footer h1 {
  font-family: "shrikhand", sans-serif;
  margin-bottom: 1%;
}

.footer_liens {
  width: 100%;
  color: white;
  text-decoration: none;
  margin-bottom: -20px;
  padding-bottom: 20px;
}
.footer_liens a {
  color: white;
  text-decoration: none;
  margin-bottom: 3%;
}
.footer_liens h1 {
  margin-top: 0%;
  margin-left: 10%;
  font-size: 18px;
  font-weight: lighter;
  padding-top: 20px;
  padding-bottom: 15px;
}
.footer_liens ul {
  list-style-type: none;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 10%;
}
.footer_liens li {
  padding-bottom: 10px;
  cursor: pointer;
}
.footer_liens .fa-handshake-o {
  transform: rotate(-45deg);
}

/*VERSION TABLETTE*/

@media screen and (min-width:767px) and (max-width:991px)
{
  .titre_logo 
  {
    height: 70px;

  }
  .titre_logo h1
  {
    margin-top: 2%;
    margin-bottom: 0%;
  }
  .titre_logo i
  {
    padding-top: 25%;
    padding-right: 25%;
  }
  .image
  {
    width: 100%;
    height: 300px;
  }
  .menu__name h1
 {
  margin-bottom: 0%;
 }
  .menu__name i
 {
  padding-top: 245px;
  margin-right: -5%;
 }
 .entrees__names h2
 {
  margin-top: 2%;
  margin-bottom: 3%;
 }
 .entree__description,.plat__description,.dessert__description
 {
  width: 100%;
 }
 .entree__description h3
 {
  margin-top: 2%;
  margin-bottom: 0.5%;
 }
 .entree__description .accompagnement
 {
  font-size: 16px;
  
 }
 .entrees__names p
 {
 
 margin-top: 5%;
 margin-right: 0%;
 width: 70px;
 padding-left: 3%;
 }
 .entrees__names .slider
 {
  width:25%;
 }
 .entrees__names a .slider .fas
 {
  margin-top: 20%;
  margin-left: 37%;
 }
 .plat__description h3
 {
  margin-top: 2%;
  margin-bottom: 0.5%;
 }
 .plat__description .accompagnement
 {
  font-size: 16px;
  
 }
 .plats__names p
 {
 
 margin-top: 5%;
 margin-right: 0%;
 width: 70px;
 padding-left: 3%;
 }
 .plats__names .slider
 {
  width:25%;
 }
 .plats__names a .slider .fas
 {
  margin-top: 20%;
  margin-left: 37%;
 }
 .dessert__description h3
 {
  margin-top: 2%;
  margin-bottom: 0.5%;
 }
 .dessert__description .accompagnement
 {
  font-size: 16px;
  
 }
 .desserts__names p
 {
 
 margin-top: 5%;
 margin-right: 0%;
 width: 70px;
 padding-left: 3%;
 }
 .dessert__names .slider
 {
  width:25%;
 }
 .dessert__names a .slider .fas
 {
  margin-top: 20%;
  margin-left: 37%;
 }
 .commander .order
 {
  margin-top: 5%;
  margin-bottom: 10%;
 }
 .footer_liens h1 
 {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-left: 0%;
  margin-bottom: 0%;
 }
 .footer_liens ul
 {
  width: 100%;
  text-align: center;
  padding-left: 0%;
 }
}

/*VERSION DESKTOP*/

@media screen and (min-width:992px)

{
  .titre_logo 
  {
    height: 80px;

  }
  .titre_logo h1
  {
    margin-top: 2%;
    margin-bottom: 0%;
    font-size: 36px;
  }
  .titre_logo i
  {
    padding-top: 25%;
    padding-right: 25%;
  }
  .image
  {
    width: 100%;
    height: 400px;
  }
  .menu__name h1
 {
  margin-bottom: 0%;
  font-size: 30px;
 }
  .menu__name i
 {
  padding-top: 36.5%;
  margin-right: -5%;
  font-size: 28px;
 }
 .entrees__names a
 {
  height: 90px;
 }
 .entrees__names h2
 {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 22px;
 }
 .entree__description,.plat__description,.dessert__description
 {
  width: 100%;
  padding-right: 0%;
 }
 .entree__description h3
 {
  margin-top: 2%;
  margin-bottom: 0.5%;
  font-size: 22px;
 }
 .entree__description .accompagnement
 {
  font-size: 20px;
  
 }
 .entrees__names p
 {
 margin-bottom: 0%;
 margin-top: 5%;
 margin-right: 0%;
 width: 70px;
 padding-right: 0%;
 font-size: 18px;
 }

 .entrees__names a .slider
 {
  width:25%;
 }
 .entrees__names a .slider .fas
 {
  margin-top: 20%;
  margin-left: 40%;
  font-size: 28px;
 }
 .plats__names a
 {
  height: 90px;
 }
 .plats__names h2
 {
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 22px;
 }
 .entree__description,.plat__description,.dessert__description
 {
  width: 100%;
  padding-right: 0%;
 }
 .plat__description h3
 {
  margin-top: 2%;
  margin-bottom: 0.5%;
  font-size: 22px;
 }
 .plat__description .accompagnement
 {
  font-size: 20px;
  
 }
 .plats__names p
 {
 margin-bottom: 0%;
 margin-top: 5%;
 margin-right: 0%;
 width: 70px;
 padding-right: 0%;
 font-size: 18px;
 }

 .plats__names a .slider
 {
  width:25%;
 }
 .plats__names a .slider .fas
 {
  margin-top: 20%;
  margin-left: 40%;
  font-size: 28px;

 }
 .desserts__names a
 {
  height: 90px;
 }
 .desserts__names h2
 {
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 22px;
 }
 .entree__description,.plat__description,.dessert__description
 {
  width: 100%;
  padding-right: 0%;
 }
 .dessert__description h3
 {
  margin-top: 2%;
  margin-bottom: 0.5%;
  font-size: 22px;
 }
 .dessert__description .accompagnement
 {
  font-size: 20px;
  
 }
 .desserts__names p
 {
 margin-bottom: 0%;
 margin-top: 5%;
 margin-right: 0%;
 width: 70px;
 padding-right: 0%;
 font-size: 18px;
 }

 .desserts__names a .slider
 {
  width:25%;
 }
 .desserts__names a .slider .fas
 {
  margin-top: 20%;
  margin-left: 40%;
  font-size: 28px;
 }
 .commander .order
 {
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 24px;
  height: 70px;
 }
 .footer_liens h1 
 {
  width: 100%;
  font-size:28px;
  text-align: center;
  margin-left: 0%;
  margin-bottom: 0%;
 }
 .footer_liens ul
 {
  width: 100%;
  text-align: center;
  padding-left: 0%;
  font-size: 20px;
 }
 .footer_liens
 {
  padding: 0%;
  width: 100%;
  height: 230px;
  background-color: rgb(57, 57, 57);
 }
/*# sourceMappingURL=menus.css.map */